@import '../color';
@import '../font.css';


.group {
    display: flex;
    flex-direction: column;
    color: #777E8C;
    max-height: 100%;
    overflow: hidden;

    .name {
        padding: 5px 5px;
        margin-left: 10px;
        background: white;
        border-radius: 3px;
        font-weight: 500;
        line-height: 12px;
        width: 56px;
        z-index: 10;
    }

    .wrapper {
        position: relative;
        padding: 11px;
        border: 1px solid #d9d9d9;
        border-radius: 3px;
        overflow-y: auto;
        top: -10px;

        .ant-empty {
            margin: 10px 0 5px;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
}
