nav#assignments .section-title {
    color: white;
    border-color: white;
}

div.assignment {
    box-sizing: border-box;
    padding: 1em 0 1.5em 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    width: 100%;
}

div.assignment.last {
    border: none;
}

div.assignment .description-wrapper {
    display: inline-block;
}

div.assignment .description-wrapper * {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

div.assignment .description-wrapper span {
    font-weight: 400;
}

div.assignment .description-wrapper h5 {
    font-weight: 300;
}

div.assignment .checkbox-wrapper {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 2em;
    vertical-align: top;
}

div.assignment input {
    position: relative;
    opacity: 0;
    height: 0;
    width: 0;
}

div.assignment .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    display: inline-block;
    border: 2px solid white;
    border-radius: 1000px;
    background: none;
}

div.assignment .checkmark:hover {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

div.assignment .checkmark:after {
    position: absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #7f8c8d;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    content: "";
    display: none;
}

div.assignment input:checked ~ .checkmark {
    background-color: white;
}

div.assignment input:checked ~ .checkmark:after {
    display: inline-block;
    opacity: 1;
}

nav#assignments ::-webkit-scrollbar-track {
	background-color: rgba(255, 255, 255, 0.25);
}

nav#assignments ::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.5);
}
