#assignments section {
    display: none !important;
    flex-direction: column;
    height: 100%;
}

#assignments section.show {
    display: flex !important;
}

#assignments section.show section.active {
    display: block !important;
}

#assignments header .section-title {
    color: white;
    border-color: white;
}

#assignments .assignment {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0 1.5em 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    width: 100%;
}

#assignments .assignment.last {
    border: none;
}

#assignments .assignment .img-button,
#assignments .assignment .checkbox {
    margin-top: 0.5em;
    margin-bottom: 0;
}

#assignments .assignment .assignment-wrapper {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

#assignments .assignment .description-wrapper {
    display: inline-block;
}

#assignments .assignment .description-wrapper * {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

#assignments .assignment .description-wrapper span {
    font-weight: 400;
}

#assignments .assignment .description-wrapper h5 {
    font-weight: 300;
}

#assignments .assignment .checkbox-wrapper {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 2em;
    vertical-align: top;
}

#assignments .assignment input {
    position: relative;
    opacity: 0;
    height: 0;
    width: 0;
}

#assignments .assignment .checkbox {
    height: 20px;
    width: 20px;
    margin-right: 2em;
    display: inline-flex;
    align-items: center;
    border-radius: 1000px;
    background-color: rgba(255, 255, 255, 0.5);
}

#assignments .assignment .checkbox:hover {
    cursor: pointer;
}

#assignments .assignment .checkbox .indicator {
    height: 0;
    width: 0;
    margin: 0 auto;
    display: block;
    border-radius: 1000px;
    background-color: #ffffff;
    opacity: 1;
}

#assignments .assignment.complete .checkbox .indicator {
    height: 60%;
    width: 60%;
}

#assignments form.create input.home-input, 
#assignments form.create .datetime-wrapper img {
    border-color: white;
    color: white;
}