#home #courses .item-list {
    padding-right: 0;
}

#home #courses #add-course-button:hover {
    cursor: not-allowed;
}

#courses button.course-button {
    width: 100%;
    padding: 1em 0;
    text-align: left;
    vertical-align: middle;
}

#courses button.course-button * {
    font-size: 18px; 
    font-weight: 300;
    color: #7f8c8d;
}

#courses button.course-button span  {
    padding-left: 15px;
    transition: color 0.25s, font-size 0.25s;
}

#courses button.course-button .course-color-indicator {
    width: 5px;
    height: 25px;
    border-radius: 1000px;
    white-space: nowrap;
    transition: width 0.15s, height 0.15s;
}

#courses button.course-button:hover span {
    font-weight: 400;
}

#courses button.course-button.current span {
    font-size: 20px; 
    font-weight: 400;
    color: white;
    padding-left: 10px;
    border-radius: 1em;
}

#courses button.course-button.current .course-color-indicator {
    width: 100%;
    height: 28px;
    padding-top: 2px;
    border-radius: 0.5em 0 0 0.5em;
    line-height: 1.275em;
}