nav#courses #add-course-button:hover {
    cursor: not-allowed;
}

button.course-button {
    width: 100%;
    padding: 1em 0;
    text-align: left;
    vertical-align: middle;
}

button.course-button * {
    font-size: 18px; 
    font-weight: 300;
    color: #7f8c8d;
}

button.course-button span  {
    padding-left: 15px;
    transition: color 0.25s, font-size 0.25s;
}

button.course-button:focus span {
    font-size: 20px; 
    font-weight: 400;
    color: white;
}

button.course-button:hover span {
    font-weight: 400;
}

button.course-button:focus .course-color-indicator {
    width: 150%;
    height: 28px;
    padding-top: 2px;
}

.course-color-indicator {
    width: 5px;
    height: 25px;
    border-radius: 1em;
    white-space: nowrap;
    transition: width 0.25s, height 0.25s;
}