#home #events .item-list {
    padding: 1em 3em 3em 2em;
}

#events section {
    display: none !important;
    flex-direction: column;
    height: 100%;
}

#events section.show {
    display: flex !important;
}

#events div.event {
    padding: 1em 1em;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#events div.event:hover {
    background-color: #f5f6fa;
}

#events div.event.completed {
    display: none;
}

#events div.event .event-wrapper {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

#events div.event .img-button {
    margin-right: 10px;
}

#events div.event .complete-event {
    width: 15px;
    height: 15px;
    padding: 0 0.5em;
    display: inline-block;
}

#events div.event .description-wrapper {
    display: inline-block;
}

#events div.event .description-wrapper * {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: var(--grey);
}

#events div.event .description-wrapper span {
    font-weight: 400;
}

#events div.event .description-wrapper h5 {
    font-weight: 300;
}

#events form.create .home-input, 
#events form.create .datetime-wrapper img {
    border-color: var(--grey);
    color: var(--grey);
}