.event {
    margin: 0 30px;
    padding-bottom: 1.75em;
    box-sizing: border-box;
}

.event .remove-event-button {
    position: relative;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    top: 15px;
    opacity: 0.5;
}

.event .remove-event-button:hover {
    opacity: 1;
}

.event .remove-event-button img {
    width: 100%;
    height: 100%;
}

.event .description-wrapper {
    display: inline-block;
}

.event .description-wrapper * {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #7f8c8d;
}

.event .description-wrapper span {
    font-weight: 400;
}

.event .description-wrapper h5 {
    font-weight: 300;
}
