#home nav {
    height: 100vh;
    width: 25%;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    position: absolute;
}

#home img {
    box-sizing: content-box !important;
}

#home nav header {
    margin: 1.5em 3em 0 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#home nav#semesters {
    background-color: white;
    left: 0;
}

#home nav#courses {
    background-color: #f5f6fa;
    left: 25%;
}

#home nav#assignments {
    color: white;
    background-color: #7f8c8d;
    transition: background-color 0.25s;
    left: 50%;
}

#home nav#events {
    background-color: white;
    left: 75%;
}

#home nav .section-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 26px;
    color: #7f8c8d;
    border-bottom: solid #7f8c8d 1.25px;
    float: left;
}

#home nav .item-list {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1em 3em 3em 3em;
}

#home nav .item-list section {
    display: none;
}

#home nav .item-list section.active {
    display: block !important;
}

#home nav header img.img-button {
    height: 1.5em;
    margin-top: 4px;
    margin-left: 1.25em;
}

#home img.edit-item,
#home img.delete-item {
    display: none;
}

#home div.assignment.removed,
#home div.event.removed {
    display: none;
}

/* #home div.assignment .edit-item {
    width: 20px;
    height: 20px;
    float: right;
}
 */

#home div.assignment .edit-item,
#home div.assignment .delete-item,
#home div.event .delete-item {
    width: 17.5px;
    height: 17.5px;
    float: right;
}

#home div.assignment:hover .edit-item,
#home div.assignment:hover .delete-item,
#home div.event:hover .delete-item {
    display: inline-block;
}

::-webkit-scrollbar {
    width: 15px;
	background-color: rgba(255,255,255,0);
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
	border: 5px solid rgba(255,255,255,0);
	background-clip: padding-box;
}

::-webkit-scrollbar-track {
	background-color: rgba(127, 140, 141, 0.25);
}

::-webkit-scrollbar-thumb {
	background-color: rgba(127, 140, 141, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    border: 4px solid rgba(255,255,255,0);
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}
