#home #semesters .item-list {
    padding: 1em 0 3em 2em;
}

#semesters button.semester-button {
    width: 100%;
    padding: 0.75em 1em;
    margin-bottom: 1em;
    border-radius: 1em 0 0 1em;
    background-color: none;
    text-align: left;
}

#semesters button.semester-button.current {
    background-color: #f5f6fa;
}

#semesters button.semester-button:hover img.expand-semester {
    display: inline-block;
}

#semesters button.semester-button.current img.edit-semester {
    display: inline-block;
    opacity: 0.5;
}

#semesters button.semester-button.current img.expand-semester {
    display: none !important;
}

#semesters button.semester-button .semester-wrapper {
    display: inline-block;
}

#semesters button.semester-button .semester-wrapper * {
    width: 100%;
    font-size: 18px; 
    font-weight: 400;
    color: #7f8c8d;
}

#semesters button.semester-button .semester-wrapper span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#semesters button.semester-button .semester-wrapper h5 {
    font-size: 16px; 
    font-weight: 300;
}

#semesters button.semester-button img.img-button {
    display: none;
    padding: 1.25em 1.75em;
    float: right;
}

#semesters button.semester-button img.expand-semester {
    width: 1em;
    opacity: 0.5;
}

#semesters button.semester-button img.expand-semester:hover {
    opacity: 1;
}

#semesters button.semester-button img.edit-semester {
    width: 1.75em;
    opacity: 0;
}

#semesters button.semester-button img.edit-semester:hover {
    opacity: 1;
}