nav.semesters header {
    margin: 15px 30px 5px 30px;
}

button.semester-button {
    width: 100%;
    padding: 0.75em 30px;
    text-align: left;
}

button.semester-button:hover img.expand-semester {
    display: inline-block;
}

button.semester-button:focus {
    background-color: #f5f6fa;
}

button.semester-button:focus img.edit-semester {
    display: inline-block;
    opacity: 0.5;
}

button.semester-button:focus img.expand-semester {
    display: none;
}

button.semester-button {
    width: 100%;
    padding: 0.75em 30px;
    text-align: left;
}

button.semester-button .wrapper {
    display: inline-block;
    /* width: 90%; */
}

button.semester-button .wrapper * {
    width: 100%;
    font-size: 18px; 
    font-weight: 400;
    color: #7f8c8d;
}

button.semester-button .wrapper span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

button.semester-button .wrapper h5 {
    font-size: 16px; 
    font-weight: 300;
}

button.semester-button img.expand-semester {
    display: none;
    padding: 12px 0;
    width: 10px;
    float: right;
    opacity: 0.5;
}

button.semester-button img.expand-semester:hover {
    opacity: 1;
}

button.semester-button img.edit-semester {
    display: none;
    padding: 12px 0;
    width: 17.5px;
    float: right;
    opacity: 0;
}