@import '../font.css';
.clr-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.clr-picker .row.light {
  margin-bottom: 10px;
}
.clr-picker .row .dot {
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  margin: 0 10px;
  width: 20px;
  height: 20px;
  transition: 0.3s ease;
}
