:root {
    /* A */ --red:    #e74c3c; /* (231,76,60) */
    /* B */ --yellow: #f1c40f; /* (241,196,15) */
    /* C */ --blue:   #3498db; /* (52,152,219) */
    /* D */ --purple: #9b59b6; /* (155,89,182) */
    /* E */ --green:  #2ecc71; /* (46,204,113) */
    /* F */ --orange: #e67e22; /* (230,126,34) */
    /* G */ --silver: #bdc3c7; /* (189,195,199) */

    /* X */ --grey:   #7f8c8d; /* (127,140,141) */
    /* - */ --back:  #f5f6fa; /* (127,140,141) */
}

.A {
    background-color: var(--red);
    color: var(--red);
    fill: var(--red);
}

.B {
    background-color: var(--yellow);
    color: var(--yellow);
    fill: var(--yellow);
}

.C {
    background-color: var(--blue);
    color: var(--blue);
    fill: var(--blue);
}

.D {
    background-color: var(--purple);
    color: var(--purple);
    fill: var(--purple);
}

.E {
    background-color: var(--green);
    color: var(--green);
    fill: var(--green);
}

.F {
    background-color: var(--orange);
    color: var(--orange);
    fill: var(--orange);
}

.G {
    background-color: var(--silver);
    color: var(--silver);
    fill: var(--silver);
}

.X {
    background-color: var(--grey);
    color: var(--grey);
    fill: var(--grey);
}

button.new-button.A {
    background-color: rgba(231, 76, 60, 0.3);
    /* transition: background-color 1s; */
}

button.new-button.B {
    background-color: rgba(241, 196, 15, 0.3);
    /* transition: background-color 1s; */
}

button.new-button.C {
    background-color: rgba(52, 152, 219, 0.3);
    /* transition: background-color 1s; */
}

button.new-button.D {
    background-color: rgba(155, 89, 182, 0.3);
    /* transition: background-color 1s; */
}

button.new-button.E {
    background-color: rgba(46, 204, 113, 0.3);
    /* transition: background-color 1s; */
}

button.new-button.F {
    background-color: rgba(230, 126, 34, 0.3);
    /* transition: background-color 1s; */
}

button.new-button.G {
    background-color: rgba(189, 195, 199, 0.3);
    /* transition: background-color 1s; */
}

button.new-button.X {
    background-color: rgba(127, 140, 141, 0.3);
    /* transition: background-color 1s; */
}


button.new-button.A:hover {
    background-color: rgba(231, 76, 60, 0.45);
}

button.new-button.B:hover {
    background-color: rgba(241, 196, 15, 0.45);
}

button.new-button.C:hover {
    background-color: rgba(52, 152, 219, 0.45);
}

button.new-button.D:hover {
    background-color: rgba(155, 89, 182, 0.45);
}

button.new-button.E:hover {
    background-color: rgba(46, 204, 113, 0.45);
}

button.new-button.F:hover {
    background-color: rgba(230, 126, 34, 0.45);
}

button.new-button.G:hover {
    background-color: rgba(189, 195, 199, 0.45);
}

button.new-button.X:hover {
    background-color: rgba(127, 140, 141, 0.45);
}