img.save-button {
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    bottom: 5em;
}

.page input.home-input {
    border: none;
    border-bottom: 2px solid var(--grey);
    padding: 0 5px;
    padding-bottom: 7.5px;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--grey);
    background: none;
}

.page input.home-input::placeholder {
    opacity: 0.5;
}

.page input.home-input:focus {
    outline: none;
}

.page form.create .dropdown-menu * {
    font-size: 14px !important;
}

.page form.create .dropdown-menu,
.page form.create .dropdown-menu .glyphicon-time {
    color: var(--grey);
}

.page form.create .dropdown-menu td.active {
    background-color: var(--grey) !important;
}

.page form.create input.home-input {
    width: 100%;
    border-radius: 0;
    font-size: 18px;
    box-shadow: none !important;
}

.page form.create input.home-input::placeholder {
    color: inherit;
}

.page form.create {
    width: calc(100%-6em);
    height: 100%;
    margin: 3em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.page form.create input#assignment-title,
.page form.create input#event-title {
    margin-bottom: 2em;
}

.page form.create .datetime-wrapper {
    width: 100%;
    height: 2.5em;
    margin-bottom: 3em;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}

.page form.create .datetime-wrapper input {
    width: 100%;
    height: 100%;
    display: inline-block;
    /* font-family: 'Source Sans Pro', sans-serif; */
}

.page form.create .datetime-wrapper img {
    width: 1.6em;
    display: inline-block;
    border-bottom: 2px solid;
    padding: 0 5px;
    padding-bottom: 5px;
    box-sizing: content-box;
    opacity: 1;
}

.page form.create .input-wrapper {
    width: 100%;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page form.create .input-wrapper input {
    text-align: center;
    width: 50%;
}

.page form.create .input-wrapper span {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: inherit;
}

.page nav#assignments ::-webkit-scrollbar-track {
	background-color: rgba(255, 255, 255, 0.25);
}

.page nav#assignments ::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.5);
}
