@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400&display=swap');

.page * {
    padding: 0;
    margin: 0;
    font-size: 10px;
    user-select: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
}

section.page {
    display: none;
}

section.page.active {
    display: block;
}

.page button.home-btn {
    font-family: 'Source Sans Pro', sans-serif;
    background: none;
    border: none;
}

.page button.home-btn:hover {
    cursor: pointer;
}

.page button.home-btn:focus {
    outline: none;
}

.page img.img-button {
    opacity: 0.5;
}

.page img.img-button:hover {
    opacity: 1;
    cursor: pointer;
}

.page img.img-button.inactive {
    display: none;
}
