@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400&display=swap');

* {
    padding: 0;
    margin: 0;
    font-size: 10px;
    user-select: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

button {
    font-family: 'Source Sans Pro', sans-serif;
    background: none;
    border: none;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

img.img-button {
    opacity: 0.5;
}

img.img-button:hover {
    opacity: 1;
    cursor: pointer;
}

input {
    border: none;
    border-bottom: 2px solid var(--grey);
    padding-bottom: 7.5px;
    font-weight: 300;
    color: var(--grey);
    background: none;
}

input::placeholder {
    opacity: 0.5;
}

input:focus {
    outline: none;
}