button.new-button div {
    width: 1.5em;
    height: 1.5em;
    border-radius: 1000px;
    vertical-align: middle;
    margin: 0.5em 1.25em 0.5em 0.5em;
    float: left;
}

button.new-button span {
    font-size: 18px;
    vertical-align: middle;
    display: inline-block;
}

.panel#new-semester img.save-button {
    transform: translateX(-25%);
    left: 25%;
}