@import './font.css';
.home {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.home .sem-list {
  padding-right: 25px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}
.home .sem-list .sem {
  display: flex;
  margin-bottom: 20px;
  color: #495266;
  cursor: pointer;
}
.home .sem-list .sem:hover .indicator {
  opacity: 1;
}
.home .sem-list .sem:last-child {
  margin-bottom: 0;
}
.home .sem-list .sem.new {
  color: #F5222D;
}
.home .sem-list .sem.new .indicator {
  background: #F5222D;
}
.home .sem-list .sem .indicator {
  background: #495266;
  border-radius: 0px 3px 3px 0px;
  margin-right: 21px;
  opacity: 0;
  width: 4px;
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.home .sem-list .sem .sem-wrapper {
  display: flex;
  flex-direction: column;
}
.home .sem-list .sem .sem-wrapper .sem-title {
  font-size: 18px;
}
.home .sem-list .sem .sem-wrapper .sem-dates {
  font-size: 14px;
  font-weight: 300;
}
