@import './font.css';
* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: "FSAlbert";
}
* ::not(.ant-btn) {
  color: #424959;
}
* button {
  border: none;
  outline: inherit;
  cursor: pointer;
}
* .app {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
}
* .app #titlebar {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 15;
  -webkit-app-region: drag;
}
* .app .panel {
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
}
* .app h1, * .app h2, * .app h3, * .app h4, * .app h5 {
  margin: 0;
  color: #424959;
}
* .app h1 {
  font-size: 36px;
}
* .app #side.panel {
  background: #F2F4F7;
  min-width: 300px;
  z-index: 100;
}
* .app #side.panel .ant-drawer-left.ant-drawer-open .ant-drawer-content-wrapper {
  box-shadow: 5px 0px 20px #DADEE6;
}
* .app #side.panel #mask {
  position: fixed;
  box-sizing: content-box;
  padding-right: 5px;
  background: #F2F4F7;
  z-index: 105;
  min-width: 300px;
  transition: 0.3s;
  height: 100%;
  cursor: ew-resize;
}
* .app #side.panel header {
  margin: 70px 0 30px 0;
  padding: 0 25px;
}
* .app #side.panel footer {
  margin: 45px 0 25px 0;
  padding: 0 25px;
}
* .app #main.panel {
  background: #F2F4F7;
  width: 100%;
}

::-webkit-scrollbar {
  width: 25px;
  transition: border 0.5s ease;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border-right: 20px solid transparent;
  border-left: 1px solid transparent;
  border-top: none;
  border-bottom: none;
}

::-webkit-scrollbar-track {
  background: #E1E6ED;
}

::-webkit-scrollbar-thumb {
  background: #B8BECC;
}

::-webkit-scrollbar-thumb:hover {
  background: #828999;
  border-right: 19px solid transparent;
  border-left: 0px solid transparent;
  border-top: none;
  border-bottom: none;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
