$main: #424959;

$red: #f5222d; // red
$cyan: #13c2c2; // cyan
$purple: #722ed1; // purple
$yellow: #fadb14; // yellow
$yellow1: #faad14; // gold
$orange: #fa8c16; // orange
$orange1: #fa541c; // volcano
$green: #a0d911; // lime
$green1: #52c41a; // green
$blue: #1890ff; // blue
$blue1: #2f54eb; // geekblue
