$main: #495266;

$red: #f5222d; // red
$red-light: #f5222d25;
$purple: #722ed1; // purple
$purple-light: #722ed125;
$yellow: #fadb14; // yellow
$yellow-light: #fadb1425;
$yellow1: #faad14; // gold
$yellow1-light: #faad1425;
$orange: #fa8c16; // orange
$orange-light: #fa8c1625;
$orange1: #fa541c; // volcano
$orange1-light: #fa541c25;
$green: #a0d911; // lime
$green-light: #a0d91125;
$green1: #52c41a; // green
$green1-light: #52c41a25;
$cyan: #13c2c2; // cyan
$cyan-light: #13c2c225;
$blue: #1890ff; // blue
$blue-light: #1890ff25;
$blue1: #2f54eb; // geekblue
$blue1-light: #2f54eb25;
