@import '../font.css';
.semester-config {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.semester-config fieldset {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  height: 100%;
  max-height: 100%;
  overflow-y: hidden;
}
.semester-config fieldset .sem-name, .semester-config fieldset .date-rng {
  margin-top: 2px;
}
.semester-config fieldset .course-add {
  width: 100%;
  font-size: 12px;
  margin-bottom: 5px;
}
.semester-config fieldset .group {
  margin-bottom: 10px;
}
.semester-config footer button {
  width: 45%;
}
.semester-config footer button:last-child {
  float: right;
}
